<h1> About </h1>
<div class ="text_content">
<p> Experience convenient modern living in a historic setting at the newly renovated Campus View Apartments.  These one bedroom, two bedroom, and efficency loft style units are fully equipped with....<p>

<p> The building is currently being renovated.  Keep up with the progress on our <%= link_to "Construction Blog", "#" %>  If interested in learning more, please don't hesitate to <%= link_to "Contact Us", contact_path %>   
</div>
